.paper {
  display: flex;
  align-items: center;
  flex-direction: column;

  /* height: 700px;
    min-height: 700px; */
}

.avatar {
  margin: 8px;
  background-color: #f48fb1 !important;
  color: #fafafa !important;
}

.form {
  width: 100%;
  margin-top: 24px;
}

.submit {
  margin: 24px 0 16px;
}

.erros {
  color: red;
  margin-bottom: 0;
}

.link {
  color: #3f51b5;
}
