.table {
  min-width: 650px;
}

.container {
  max-height: 500px;
  min-height: 500px;
}

.txnHash {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
