@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~nprogress/nprogress.css";

html {
  position: relative;
  min-height: 100%;
}

footer {
  left: 0;
  bottom: 0;

  height: 100px;
  width: 100%;

  overflow: hidden;
  background-color: orange;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.scroll-table {
  max-height: 500px;
  overflow-y: scroll;
}

.mr-tb-auto {
  margin: auto 0;
}

.mt-16 {
  margin-top: 16px !important;
}

.ml-5 {
  margin-left: 5px;
}

.m-10 {
  margin: 10px;
}
.m-5 {
  margin: 5px !important;
}

.display-flex-space-between {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

#nprogress .spinner {
  top: 50%;
  left: 50%;
}

#nprogress .spinner-icon {
  width: 40px;
  height: 40px;

  border-top-color: #0a4a1a;
  border-left-color: #0a4a1a;
}

#nprogress .background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  height: 100%;

  background: #4248438f;
}
