/* .table {
  min-width: 650px;
} */

.container {
  max-height: 500px;
  min-height: 500px;
}

.tableHeaderCell {
  background-color: #ea7043 !important;
  color: #1e231a !important;
  font-weight: bold !important;
}

.txnHash {
  /* display: inline-block !important; */
  width: 180px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
